html, body{
  height: 100%;
  margin: 0px;
  padding: 0px
}

#social-bar {
  position: absolute;
  top: 8px;
  right: 65px;
  z-index: 999;
}

#social-bar img {
  width:40px;
}

#map-canvas {
  height: 95%;
}

#footer {
  height: 5%;
  background-color: #000000;
}