html, body{
  height: 100%;
  margin: 0px;
  padding: 0px
}

#social-bar {
  position: absolute;
  top: 8px;
  right: 65px;
  z-index: 999;
}

#social-bar img {
  width:40px;
}

#map-canvas {
  height: 100%;
}

p {
  line-height: 1.8;
}